.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row_main {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: red;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.img_map {
  width: 400px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.icon_box_hubspot_alert {
  width: 20px;
  height: 20px;
  border: #0a0a0a solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  top: 29%;
  left: 48.5%;
  cursor: pointer;
}

.icon_box_hubspot_alert:after {
  content: "";
  width: 30px;
  height: 30px;
  background: #0a0a0a;
  position: absolute;
  border-radius: 100%;
  animation: hubspotmove 2s infinite;
}
@keyframes hubspotmove {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

.icon_box_hubspot_normal {
  width: 20px;
  height: 20px;
  border: #13fe03 solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  top: 29%;
  left: 48.5%;
  cursor: pointer;
}

.icon_box_hubspot_normal:after {
  content: "";
  width: 30px;
  height: 30px;
  background: #13fe03;
  position: absolute;
  border-radius: 100%;
  animation: hubspotmove 2s infinite;
}
@keyframes hubspotmove {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

.icon_box_hubspot_moderado {
  width: 20px;
  height: 20px;
  border: #c9ff17 solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  top: 29%;
  left: 48.5%;
  cursor: pointer;
}

.icon_box_hubspot_moderado:after {
  content: "";
  width: 30px;
  height: 30px;
  background: #c9ff17;
  position: absolute;
  border-radius: 100%;
  animation: hubspotmove 2s infinite;
}
@keyframes hubspotmove {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
.icon_box_hubspot_dañinags {
  width: 20px;
  height: 20px;
  border: #ff9717 solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  top: 29%;
  left: 48.5%;
  cursor: pointer;
}

.icon_box_hubspot_dañinags:after {
  content: "";
  width: 30px;
  height: 30px;
  background: #ff9717;
  position: absolute;
  border-radius: 100%;
  animation: hubspotmove 2s infinite;
}
@keyframes hubspotmove {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
.icon_box_hubspot_dañina {
  width: 20px;
  height: 20px;
  border: #ff1717 solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  top: 29%;
  left: 48.5%;
  cursor: pointer;
}

.icon_box_hubspot_dañina:after {
  content: "";
  width: 30px;
  height: 30px;
  background: #ff1717;
  position: absolute;
  border-radius: 100%;
  animation: hubspotmove 2s infinite;
}
@keyframes hubspotmove {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
.icon_box_hubspot_muydañina {
  width: 20px;
  height: 20px;
  border: #9317ff solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  top: 29%;
  left: 48.5%;
  cursor: pointer;
}

.icon_box_hubspot_muydañina:after {
  content: "";
  width: 30px;
  height: 30px;
  background: #9317ff;
  position: absolute;
  border-radius: 100%;
  animation: hubspotmove 2s infinite;
}
@keyframes hubspotmove {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
.icon_box_hubspot_peligro {
  width: 20px;
  height: 20px;
  border: rgb(74, 9, 9) solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  top: 29%;
  left: 48.5%;
  cursor: pointer;
}

.icon_box_hubspot_peligro:after {
  content: "";
  width: 30px;
  height: 30px;
  background: rgb(74, 9, 9);
  position: absolute;
  border-radius: 100%;
  animation: hubspotmove 2s infinite;
}
@keyframes hubspotmove {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
